::ng-deep .md-class{
    max-width: 60rem !important;
    width: 60rem ;
}


.encabezado{
    font-size: larger;
}

#col_izquierda{
    margin: 0;
    padding: 0px;
}

#col_derecha{
    padding: 0px;
    margin-left: -2%;
}