<html dir=ltr>

<head>
    <meta charset="utf-8" />
    <title>Forgot your password?: MySite</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="icon" href="//d2hkcehpyog59.cloudfront.net/44685ca8cfaade90d24f718bf876257562a21214/favicon.ico"
        type="image/x-icon">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/login/styles/common.css">
    <link rel="stylesheet" type="text/css" href="/login/styles/forgot-password.css">
</head>

<body>
    <div class="logo"></div>

    <div class="card forgot-password">

        <form class="auth-form forgot-password">
            <input type="hidden" name="_csrf" value="HqERTlW1-zqdbeIfJSHafv2R96CBeOFBRAeM" />

            <div class="row labels">
                <h2>Olvidaste tu contraseña?</h2>
                <h3>No te preocupes. Ingresa tu dirección de correo electrónico y te enviaremos algunas instrucciones.
                </h3>
            </div>

            <div class="row email">
                <span class="icon email">
                    <i class="fa fa-envelope-o fa-lg"></i></span>
                <input type="email" name="email" #passwordResetEmail required autofocus autocomplete
                    pattern="^[^\s@＠=]+[@|＠][^\.\s@＠]+(\.[^\.\s@＠]+)+$"
                    title="Por favor, ingresa una dirección de correo válida." placeholder="Correo" />
            </div>

            <div class="row submit">
                <input type="submit" class="button big blue" value="Enviar"
                    (click)="AuthService.ForgotPassword(passwordResetEmail.value)" />
            </div>
        </form>

        <span class="link login">
            No tienes cuenta?
            <a routerLink="../register">Click para registrarte</a>
        </span>
    </div>


</body>

</html>