<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

<div id="login-box">
  <div class="left">
    <h1>Formulario de Registro</h1>
    <div *ngIf='usuarioIncorrecto' >
      <p *ngFor="let error of listaErrores" style="color: red; font-weight: bold; height: 15px;">{{error}}</p>
    </div>

    <form class="form-inline">
      <div class="form-group mb-2">
        <input type="text" id="name" name="name" placeholder="Nombres (*)" />
      </div>
      
      <div class="form-group mx-sm-3 mb-2">
        <input type="text" id="alias" name="alias" placeholder="Alias (*)" />
      </div>

      <div class="form-group mb-2">
        <input type="text" id="email" name="email" placeholder="Correo electrónico (*)" #userEmail required/>
      </div>
      <div class="form-group mx-sm-3 mb-2">
        <input type="text" id="empresa" name="empresa" placeholder="Empresa (*)" />
      </div>
      <div class="form-group mb-2">
        <input type="password" id="password" name="password" placeholder="Contraseña (*)" />
      </div>
      <div class="form-group mx-sm-3 mb-2">
        <input type="password" id="password2" name="password2" placeholder="Confirmar Contraseña (*)"/>
      </div>
      
      <div class="form-group mb-2">
        <input type="text" id="telefono" name="telefono" placeholder="Teléfono (*)" />
      </div>
      <div class="form-group mx-sm-3 mb-2">
        <input type="url" id="linkedin" name="linkedin" placeholder="Linkedin (*)" />
      </div>

      <div class="form-group mb-2">
        <p>Sexo:
          <select id="sexo" name="sexo">
            <option>Masculino</option>
            <option>Femenino</option>
          </select>
        </p>
      </div>
      <div class="form-group mx-sm-3 mb-2">
        <p>Fecha de nacimiento
          <input type="date" id="fec_nac" name="trip-start" value="2018-07-22" min="1900-01-01" max="2020-12-31">
        </p>
      </div>
      <div class="row">
        <div class="col-8">
          <p style="margin-bottom: 0px;"> Foto de perfil</p>
            <div id="fotoPerfil" class="custom-file" style="border: solid 1px #32508E; border-radius: 5px;">
              <input type="file" (change)="readUrl($event)" class="custom-file-input" accept="image/jpeg, image/png"
                id="imgPerfil" lang="es">
              <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
            </div>
        </div>
        <div class="col-4">
          <img *ngIf="url" class="ajusteTam" [src]="url">
        </div>
      </div>

    </form>
    
    <div class="row justify-content-center mt-3">
        <input id="btn_registrar" style="background-color: #32508E !important; " type="submit" (click)="crearAdministrador()" class="btn btn-primary fadeIn fourth" value="Registrar">                
    </div>
    
    
  </div>


</div>