<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<div class="app-container">
    <nav class="nav">
        <a href="#" class="nav__logo">
        </a>
        <ul class="list-group">
            <li class="list-group-item" routerLink="../dashboard"><i class="fa fa-users"></i> Usuarios</li>
            <li class="list-group-item" routerLink="../agenda-general"><i class="far fa-calendar-check"></i> Agenda General</li>
            <li class="list-group-item" routerLink="../agenda-personalizada"><i class="fa fa-address-book"></i> Agenda Personalizada</li>
            <li class="list-group-item active"><i class="fas fa-user-circle"></i> Mi Perfil</li>
            <button type="button" class="list-group-item list-group-item-action" (click)="AuthService.SignOut()">
                <i class="fas fa-sign-out-alt"></i> Salir
            </button>
        </ul>
    </nav>
    <div class="app-view">
        <nav class="utility-bar">
            <div class="utility-bar__inner">
                <a href="#" class="utility-bar__account">
                    <span class="utility-bar__account-avatar"></span>
                    <div class="row" *ngIf="AuthService.userState as user">
                        <span class="utility-bar__account-name">{{user.email}}</span>
                        <!--Crear acceso al perfil-->
                    </div>
                </a>
            </div>
        </nav>
        <div class="container">
            <div class="row -spacing-a">
                <div class="col-md-12">
                    <h1>MI PERFIL</h1>
                    <button type="button" class="btn btn-primary" >Editar información <i class="far fa-edit"></i></button>
                </div>
            </div>
            <div class="row -spacing-a">
                <div class="col-md-4">
                    <div class="profile-image" *ngIf="AuthService.userState as user">
                        <img src= {{usuarioActual.avatar}}
                            class="fullwidth" />
                        <div class="edit-profile-image">
                            <span class="edit-profile-image__information">
                                <span class="fa fa-camera"></span>
                                <span class="edit-profile-image__label" *ngIf="AuthService.userState as user">
                                    {{user.email}}
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <h5>Información personal</h5>
                    <div class="row -spacing-b">
                        <div class="col-md-3">
                            <p class="-typo-copy">Nombres</p>
                            <p class="-typo-copy">Correo</p>
                            <p class="-typo-copy">Fecha de nacimiento</p>
                            <p class="-typo-copy">Celular</p>
                            <p class="-typo-copy">Alias</p>
                            <p class="-typo-copy">Empresa</p>
                            <p class="-typo-copy">Sexo</p>
                            <p class="-typo-copy">Linkedin</p>
                        </div>
                        <div class="col-md-3">
                            <p class="-typo-copy -typo-copy--blue">{{usuarioActual.nombre}} </p>
                            <p class="-typo-copy -typo-copy--blue" *ngIf="AuthService.userState as user"> {{user.email}}</p>
                            <p class="-typo-copy -typo-copy--blue">{{usuarioActual.fecha_nac}}</p>
                            <p class="-typo-copy -typo-copy--blue">{{usuarioActual.telefono}}</p>
                            <p class="-typo-copy -typo-copy--blue">{{usuarioActual.alias}}</p>
                            <p class="-typo-copy -typo-copy--blue">{{usuarioActual.empresa}}</p>
                            <p class="-typo-copy -typo-copy--blue">{{usuarioActual.sexo}}</p>
                            <p class="-typo-copy -typo-copy--blue">{{usuarioActual.linkedin}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>