<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">




<div class="app-container">

  <nav class="nav">

    <img class="imagenLogo" src="https://static.s123-cdn.com/uploads/1779716/400_5c6dc41fdc925.png" alt="">
    <ul class="list-group">
      <li class="list-group-item active"><i class="fa fa-users"></i>  Usuarios</li>
      <li class="list-group-item" routerLink="../agenda-general"><i class="far fa-calendar-check"></i>  Agenda General</li>
      <li class="list-group-item" routerLink="../agenda-personalizada"><i class="fa fa-address-book"></i>  Agenda Personalizada</li>
      <li class="list-group-item" routerLink="../profile"><i class="fas fa-user-circle"></i>  Mi Perfil</li>
      <button type="button" class="list-group-item list-group-item-action" (click)="AuthService.SignOut()">
        <i class="fas fa-sign-out-alt"></i> Salir
      </button>
    </ul>
  </nav>

  <div class="app-view">

    <nav class="utility-bar">
      <div class="utility-bar__inner">
        <a routerLink="../profile" class="utility-bar__account">
          <span class="utility-bar__account-avatar"></span>
          <div class="row" *ngIf="AuthService.userState as user">
            <span class="utility-bar__account-name">{{user.email}}</span>
            <!--Crear acceso al perfil-->
          </div>
        </a>
      </div>
    </nav>

    <!--<input placeholder="Modificar Empresa" [(ngModel)]="user.empresa">
    <h2>{{user.empresa}}</h2>-->

    <main class="content">
      <h1>Usuarios</h1>

        <div class="row">
          <div class="col-3">
            <select id="tipo_user" class="form-control" (change)="cambioTipo($event)">
              <option value="todos" selected>Todos</option>
              <option value="individual">Individual</option>
              <option value="empresarial">Empresarial</option>
            </select>
          </div>
          <div class="col-6">
            <input type="text" class="form-control" id="inputPassword2" placeholder="Buscar usuario" (keyup)='buscarUsuarioCoincidencia($event)'>
          </div>
          <div class="col-3">
            <!--<button type="button" (click)='abrirModalUser()'>Crear </i></button>-->
            <button class="btn" (click)='abrirModalUser()'>Crear usuario <i class="fa fa-user-plus"></i></button>
          </div>
        </div>
      
      <!--Inicio de información current user-->
      <!--<div class="container mt-5" style="max-width: 600px">
        <div class="row" *ngIf="AuthService.userState as user">
          <h2>Bienvenido: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h2>
          <p>User ID: <strong>{{user.uid}}</strong></p>
          <p>Email: <strong>{{user.email}}</strong></p>
        </div>
      </div>-->
       <!--Fin de información current user-->
      <table>
        <thead>
          <tr>
            <th>Nombres</th>
            <th>Correo</th>
            <th>Tipo</th>
            <th>Teléfono</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let user of usuarios'>
            <td>
              {{user.nombres}}
            </td>
            <td>{{user.correo}}</td>
            <td>{{user.tipoUsuario}}</td>
            <td>{{user.celular}}</td>
            <td>
              <!--Cambiar a color verde-->
              <button id='{{user.idUser}}' (click)="verDetalle($event)" class="btn">Ver más <i class="fa fa-info-circle"></i></button>
              <button id='{{user.idUser}}' (click)="eliminarUsuario($event)" class="btn btn-delete">Eliminar <i class="fa fa-user-times"></i></button>
              <!-- <button id='{{user.idUser}}' (click)="editarUsuario($event)" class="btn btn-delete">Editar</button> -->
            </td>
          </tr>
        </tbody>
      </table>
    </main>

  </div>

</div>